{%- import _self as helper -%}

<h2>Runs</h2>

{%- if 0 == collector.runs|length -%}
    <div class="empty">
        <p>No serializer runs.</p>
    </div>
{%- else -%}
    <table>
        <thead>
        <tr>
            <th>Direction</th>
            <th>Format</th>
            <th>Type</th>
            <th>Properties</th>
            <th>Total duration (ms)</th>
        </tr>
        </thead>

        {%- for run in collector.runs -%}
            <tr>
                <th>
                    {%- if run.direction == constant('JMS\\Serializer\\GraphNavigatorInterface::DIRECTION_SERIALIZATION') -%}
                        Serialization
                    {%- else -%}
                        Deserialization
                    {%- endif -%}
                </th>
                <td>{{ run.format }}</td>
                <td>{{ run.type.name|default }}</td>
                <td class="text-right">{{ run.properties|length }}</td>
                <th class="text-right">{{ run.duration ? (run.duration * 1000)|number_format(2) : '' }}</th>
            </tr>
        {%- endfor -%}
    </table>

    {%- for run in collector.runs -%}
        <h3>
            <span>{{ run.direction == constant('JMS\\Serializer\\GraphNavigatorInterface::DIRECTION_SERIALIZATION') ? 'serialization' : 'seserialization' }}:{{ run.format }}</span>
        </h3>
        <h4>
            <code>{{ run.type.name }} </code>
            <code class="sf-dump-str">{{ (run.duration * 1000)|number_format(2) }} ms</code>
        </h4>

        <ul>
            {%- for propertyName, child in run.properties -%}
                <li>{{ helper.render_node(propertyName, child, run.duration) }}</li>
            {%- endfor -%}
        </ul>
    {%- endfor -%}

{%- endif -%}

{%- macro render_node(propertyName, run, totalDuration) -%}
    <div class="margin-bottom">
        <strong class="sf-dump-note">{{ propertyName }}</strong>: {{ run.type.name|default }}
        <code class="sf-dump-str">{{ (run.duration * 1000)|number_format(2) }}ms/{{ (run.duration / totalDuration * 100)|number_format(2) }}%</code>
    </div>
    {%- if run.handlers|default -%}
        <div class="margin-bottom" title="handlers">
            {%- for handler in run.handlers -%}
                <div class="margin-left">
                    <span class="sf-dump-ellipsis sf-dump-ellipsis-class">{{ handler.class }}</span>
                    <code class="sf-dump-str">{{ (handler.duration * 1000)|number_format(2) }}ms</code>
                </div>
            {%- endfor -%}
        </div>

    {%- endif -%}
    {%- if run.properties|default -%}
        <ul>
            {%- for propertyName, child in run.properties -%}
                <li>{{ helper.render_node(propertyName, child, totalDuration) }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endmacro -%}

